body{
    
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
    text-align: center;
     background-color: #dfe6e9;
}
.heading{
    
    font-size: 3em;
    color: #2d3436; 
   
}

.container{
    border: 1px solid black;
    border-radius: 25px;
    text-align: left;
    padding: 25px 15px;
    margin: 50px 0;
    background-color: #81ecec;
    box-shadow: 0 2px 5px #ccc;
    height: 200px;
    position: relative;
}
.top{
    background-color: #00cec9;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:25px 25px 0 0;
    display: flex;
}
.name{
    font-size: 2em;
    font-weight: bold;
    color: #2d3436; 
    display: flex;
    flex: 1;
    margin-left: 10px;

}
.top img{
    margin: 10px 10px 0 0;
}
.profileImg{
    width: 120px;
    height: 120px;
    border:5px solid white;
    border-radius: 50%;
}
.bottom{
    
    margin-top: 130px;
    
}
.info{
    margin: 20px 0;
    color: #1a7e76;
}