*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #374954;
}
.counter{
    
    color: #ffff;
    text-align: center;
    margin-top: 200px;
}
h1{
    font-size: 80px;
}
button{
    background-color: #6BBE92;
    color: #ffff;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    border: 0;

    cursor: pointer;
}
#plus{
    margin-right: 10px;
}