*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #eee;
}
header{
    background-color: #F5BA13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.3);
}
header h1{
    color:#fff;
    font-family: "McLaren", serif;
    font-weight: 200px;

}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height:2.5rem
}

footer p{
    color: #ccc;

}
.note{
    border: 1px solid black;
    border-radius: 7px;
    background-color:#fff;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
    
}
.note h1{
    font-size: 1.1em;
    margin-bottom: 5px;
}
.note p{
    font-size: 1.1em;
    margin-bottom: 5px;
    word-wrap: pre-wrap;
    overflow-wrap: break-word;

}
